[submodule "cpp_redis"]
	path = cpp_redis
	url = https://github.com/xs2ranjeet/cpp_redis
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/xs2ranjeet/libzmq
[submodule "glog"]
	path = glog
	url = https://github.com/xs2ranjeet/glog
[submodule "zmqpp"]
	path = zmqpp
	url = https://github.com/xs2ranjeet/zmqpp
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/xs2ranjeet/libsodium
